{#
How to Customize Form Rendering:
https://symfony.com/doc/4.4/form/form_customization.html
#}

{% form_theme form '@Comments/Default/form/bootstrap_4_layout.html.twig' %}

{% include 'flash_messages.html.twig' %}

{%  if is_granted('ROLE_USER') %}

    {{ form_start(form, {attr: {action: path('comment_add')}}) }}
    {{ form_row(form.comment, {attr: {rows: 4}}) }}
    <div class="star-rating">
        {{ form_row(form.vote, {label_attr: {class: 'radio-flat'}}) }}
    </div>

    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button-submit">
            {{ 'Submit' | trans }}
        </button>
    </div>
    {{ form_end(form) }}

{% else %}

    <div class="alert alert-secondary">
        {{ 'Only authorized users can post reviews.' | trans }}
        <br>
        <a href="{{ path('login') }}">{{ 'Log in' | trans }}</a>
    </div>

{% endif %}
